{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>
    <div class="social-nav">
        <ul>
            <li> <a class="social-icon" href="https://twitter.com/VanessaR_C" data-type="Twitter" data-icon="&#xe600;"> <span class="visually-hidden">Twitter</span> </a></li>
            <li> <a class="social-icon" href="https://dribbble.com/vanessarc" data-tyep="Dribbble" data-icon="&#xe601;"> <span class="visually-hidden"> Dribbble </span></a></li>
            <li> <a class="social-icon" href="https://www.linkedin.com/in/vanessa87" data-type="Linkedin" data-icon="&#xe602;"> <span class="visually-hidden">Linkedin </span></a></li>
            <li><a class="social-icon" href="http://www.pinterest.com/vanessarbd/" data-type="Pinterest" data-icon="&#xe603;"> <span class="visually-hidden">Pinterest</span></a></li>
        </ul>
    </div>
    <section>
     <nav>
       <div class="navicon">&#9776;</div>
       <div class="container">
         <div class="nav-items"><a href="http://vanessarc.ghost.io/">Articles</a></div>
         <div class="nav-items"><a href="http://vanessarc.ghost.io/portfolio/">My Work</a></div>
       </div>
     </nav>
  </section>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><!--<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>--> {{tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
